<!-- ******ABOUT****** -->
<section id="about" class="about section">
		<div class="container">
					<div class="row">

					<div class="col-md-8">
						<h2 class="title text-center">What is Lineage-Mapper?</h2>

						<p class="text-center">Lineage Mapper is an open-source, highly accurate, overlap-based cell tracking system for time-lapse images of biological cells, colonies, and particles. Lineage Mapper tracks objects independently of the segmentation method, detects mitosis in confluence, separates cell clumps mistakenly segmented as a single cell, provides accuracy and scalability even on terabyte-sized datasets, and creates division and/or fusion lineages. Lineage Mapper has been tested and validated on multiple biological and simulated problems.<br/>
						</p>

						<figure>
							<img src="assets/LM_Processing_Pipeline.png"
									 class="img-responsive"
									 alt="Tracking Pipeline"
											/>
							<figcaption class="text-center">
								Lineage Mapper processing pipeline and tracking outputs. The algorithmic steps consists of:
								(1) compute cost between cells from consecutive frames, (2) detect cell collision and
								account for it, (3) detect mitosis events, (4) assign tracks between cells, and (5) create
								tracking outputs. The outputs includes saved tracked images, the cell lineage plotting and
								4 tracking output measurements: confidence index, the birth and death matrix, the mitosis
								matrix, and the fusion matrix.
							</figcaption>
						</figure>
						</div> <!-- end col-->

						<div class="col-md-4 well">
							<h4>Staff:</h4>

							<dl>
								<dt><a href="http://www.nist.gov/itl/">ITL</a> - <a href="http://www.nist.gov/itl/ssd/index.cfm">Software and Systems Division</a></dt>
								<dd>
									<a href="http://www.nist.gov/itl/ssd/is/index.cfm">Information Systems Group</a>
									<ul>
										<li><a href="mailto:mary.brady@nist.gov">Mary Brady</a></li>
										<li><a href="mailto:antonio.cardone@nist.gov">Antonio Cardone</a></li>
										<li><a href="mailto:joe.chalfoun@nist.gov">Joe Chalfoun</a></li>
										<li><a href="mailto:alden.dima@nist.gov">Alden Dima</a></li>
										<li><a href="mailto:michael.majurski@nist.gov">Michael Majurski</a></li>
									</ul>
								</dd>

								<dt><a href="http://www.nist.gov/mml/">MML</a> - <a href="http://www.nist.gov/mml/bbd/">Biosystems and Biomaterials Division</a></dt>
								<dd><a href="http://www.nist.gov/mml/bbd/cell_systems/">Cell Systems Science Group</a>
									<ul>
										<li><a href="mailto:michael.halter@nist.gov">Michael Halter</a></li>
									</ul>
								</dd>

								<dt><a href="http://www.umd.edu/">University of Maryland, College Park</a></dt>
								<dd><a href="http://www.bioe.umd.edu/">Fischell Department of Bioengineering</a>
									<ul>
										<li><a href="mailto:kiranb@umd.edu">Kiran Bhadriraju</a></li>
									</ul>
								</dd>
							</dl>

						</div> <!-- end col-->

						<div class="col-md-4 well">
							<h4>Publications:</h4>
							<p>
									J. Chalfoun, M. Majurski, A. Dima, M. Halter, K. Bhadriraju, and M. Brady, “Lineage mapper: A versatile cell and particle tracker,” Scientific Reports, vol. 6, October, 2016, DOI: 10.1038/srep36984 <br/>
									<a href="https://www.nature.com/articles/srep36984">(view article)</a>
							</p>
							<p>
									Joe Chalfoun et al., "Lineage mapper: A versatile cell and particle tracker" <i>Scientific Reports</i>, 2016 (pending)
								<!-- <a href="downloads/chalfoun_lineage_mapper.pdf">(download pdf)</a> -->
								<!-- <a href="">(view article)</a> -->
							</p>
							<p>
								J. Chalfoun, A. Cardone, and A. Dima, “Overlap-based cell tracker,” J. Research Natl. Inst. Stand. Technol., vol. 115, no. 6, p. 477, Nov. 2010
									<br/><a href="assets/Chalfoun et al. - 2009 - Overlap-based cell tracker.pdf">(download pdf)</a>
									<a href="http://www.nist.gov/manuscript-publication-search.cfm?pub_id=904008">(view article)</a>
							</p>


						</div> <!-- end col -->

						<div class="col-md-4 well">
							<h4>Collaborators:</h4>
							<dl>
								<dt><a href="http://www.nist.gov/mml/">MML</a>-<a
												href="http://www.nist.gov/mml/bbd/">Biosystems and Biomaterials
									Division</a></dt>
								<dd>
									<ul>
										<li><a href="mailto:anne.plant@nist.gov">Anne Plant</a></li>
									</ul>
								</dd>
								<dd><a href="http://www.nist.gov/mml/bbd/cell_systems/index.cfm">Cell System
									Science Group</a></dd>
								<dd>
									<ul>
										<li><a href="mailto:john.elliott@nist.gov">John Elliott</a></li>
									</ul>
								</dd>
							</dl>
						</div> <!-- end col -->
				</div> <!-- end row-->


		</div><!--//container-->
</section><!--//about-->
