    <!-- ******CONTACT****** -->
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact</h2>
								<p>
								Joe Chalfoun et al., "Lineage mapper: A versatile cell and particle tracker" Scientific Reports, 2016 (pending)
								</p>
								<p>
								J. Chalfoun, A. Cardone, and A. Dima, “Overlap-based cell tracker” J. Research Natl. Inst. Stand. Technol., vol. 115, no. 6, p. 477, Nov. 2010<br/><br/>
								</p>
                <p class="intro  text-center">We hope you enjoy Lineage-Mapper and its functionality.<br/> If you have any suggestions or comments please feel free to send us an email.</p>
								
								
								
								<div class="into text-center">
        <dl>
          <dt><a href="http://www.nist.gov/itl/">ITL</a> - <a
                  href="http://www.nist.gov/itl/ssd/index.cfm">Software and Systems
            Division</a></dt>
          <dd><a href="http://www.nist.gov/itl/ssd/is/index.cfm">Information Systems
            Group</a></dd>
          
              <li><a href="mailto:mary.brady@nist.gov">Mary Brady</a></li>
              <li><a href="mailto:antonio.cardone@nist.gov">Antonio Cardone</a></li>
							<li><a href="mailto:joe.chalfoun@nist.gov">Joe Chalfoun</a></li>
              <li><a href="mailto:alden.dima@nist.gov">Alden Dima</a></li>
              <li><a href="mailto:michael.majurski@nist.gov">Michael Majurski</a></li>
              
          

          <dt><a href="http://www.nist.gov/mml/">MML</a> - <a
                  href="http://www.nist.gov/mml/bbd/">Biosystems and Biomaterials Division</a></dt>
          <dd><a href="http://www.nist.gov/mml/bbd/cell_systems/">Cell Systems Science Group</a>
          </dd>
          <dd>
              <li><a href="mailto:michael.halter@nist.gov">Michael Halter</a></li>
          </dd>
          <dt><a href="http://www.umd.edu/">University of Maryland, College Park</a></dt>
          <dd><a href="http://www.bioe.umd.edu/">Fischell Department of Bioengineering</a>
          </dd>
          <dd>
              <li><a href="mailto:kiranb@umd.edu">Kiran Bhadriraju</a></li>
          </dd>
        </dl>
				</div>
								
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Get Connected</h4>
                    <ul class="social-icons list-inline">
                        <li><a href="https://twitter.com/usnistgov" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/usnistgov" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li class="last"><a href="mailto: michael.majurski@nist.gov"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->
