    <!-- ******DATA****** -->
    <section id="data" class="about section">
        <div class="container">
            <h2 class="title text-center">Tracking Evaluation Data</h2>
           
						<p>
						Lineage Mapper has been applied on three time-lapse cell image experiments as well as on 
						publicly available datasets of simulated particles in motion. Each dataset was segmented 
						using a different segmentation method.
						</p>
						
						<p><b>NIH MCF10A Breast Epithelial Cells</b> - we tracked these cells which are connected together and move as a sheet, a situation that is commonly encountered with epithelial cells and is of interest for understanding mechanisms of sheet-like cell migration observed during development and migration of some cancer cells.
						</p>
						
						<p><b>NIH 3T3 Cells</b> - we tracked these cells to examine the dynamic regulation of tenascin-C promoter activity. Tenascin-C protein plays a critical role in development, wound healing, and cancer progression. NIH 3T3 is a fibroblast-like cell line where there is predominantly single cell migration with frequent shape changes and collisions between moving cells.
						</p>
						
						<p><b>Stem Cell Colonies (H9 hESC)</b> - these cells form colonies of pluripotent stem cells which move, grow, and fuse. Pluripotent stem cells exist in a privileged developmental state with the potential to form any of the cell types of the adult body. These cells grow as isolated colonies, with each colony consisting of tens to thousands of cells. There is an interest in tracking these colonies to understand the temporal relation between gene expression and cell state, in order to potentially engineer the cell state for regenerative medicine applications.
						</p>
						
						<p><b>Particle Simulation</b> - we tracked a publicly available simulated dataset of particles in motion. This dataset includes three particle densities (low, medium, and high) for 100 time lapse images of 4 particle motion scenarios: vesicles, microtubules, receptor, and viruses for a total of 12 simulated datasets. 
						</p>
						
						<div class="row">
							<figure>
								<img src="assets/LM_dataset_examples.png"
										 class="img-responsive"
										 alt="Tracking Datasets"
												/>
								<figcaption class="text-center">
									Example datasets where LM was used. Each dataset was segmented with a different segmentation method and all were tracked using LM.
								</figcaption>
							</figure>
						</div>
						
					
        </div><!--//container-->
    </section><!--//about-->
