    <!-- ******FEATURES****** -->
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Features</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> 2D Labeled Mask Tracking</li>
                <li><i class="fa fa-check"></i> No Embedded Segmentation</li>
                <li><i class="fa fa-check"></i> Handles Cell Division</li>
                <li><i class="fa fa-check"></i> Handles Cell Fusion</li>
                <li><i class="fa fa-check"></i> Handle Cell Death</li>
                <li><i class="fa fa-check"></i> Robust Parameters</li>
                <li><i class="fa fa-check"></i> Fiji/ImageJ Plugin</li>
                <li><i class="fa fa-check"></i> Open Source</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
