    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">Lineage <span class="highlight">Mapper</span></h2>
            <p class="intro">An open source, highly accuracy, <br>overlap-based cell tracking system.</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="https://github.com/usnistgov/Lineage-Mapper/archive/master.zip" target="_blank">Download</a>
            </div>
            <br/>
            <div class="btns">
                <a class="btn btn-cta-primary" href="https://github.com/usnistgov/Lineage-Mapper" target="_blank">View on GitHub</a>
            </div><!--//meta-->
        </div><!--//container-->
        <br/>
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                    <li class="github-star"><iframe src="https://ghbtns.com/github-btn.html?user=usnistgov&repo=lineage-mapper&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>
<li class="github-fork"><iframe src="https://ghbtns.com/github-btn.html?user=usnistgov&repo=lineage-mapper&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="110px" height="20px"></iframe></li>
                    <li class="github-fork"><iframe src="https://ghbtns.com/github-btn.html?user=mmajurski&type=follow&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe></li>
                    <li class="github-fork"><iframe src="https://ghbtns.com/github-btn.html?user=usnistgov&type=follow&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe></li>
                    <li class="github-fork"><iframe src="https://ghbtns.com/github-btn.html?user=usnistgov&repo=lineage-mapper&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe></li>

                </ul>
            </div>
        </div>
    </section><!--//promo-->
