#topBannerContainer {
	width: 960px;
	height: 90px;
	display: block;
	margin: 0 auto 2px;
	z-index: 1;

}



.container {
	width: 100%;
	min-height: 300px;
	height: 85%;
	margin: 50px 0 30px 0;
	padding: 0;
background-color: #EAEAAE;

font: 0.8em Arial, Georgia, Helvetica, Verdana, sans-serif;

/* font-family: Georgia, Palatino, 'Palatino Linotype', Times, */
/* 		'Times New Roman', serif; */
/* 	font-size: 12px; */

}

.left-panel {
	margin: 0;
	padding: 10px 0 15px 0;
/* 	min-width: 260px; */
	width: 10%;
	float: left;
	height: 93%;
font: 1em Arial, Georgia, Helvetica, Verdana, sans-serif;
background-color: white;
opacity:0.8;
}

.right-panel {
	width:  90%;
	float: left;
	margin: 0;
	padding: 10px 0 15px 0;
	height: 93%;
	opacity:1;
	overflow-y: auto;
border-left: 1px solid #EAEAAE;
background-color: white;
/* 			border: solid 1px; */
}



.main-filter {

	border-color: #EAEAAE;
	background-color: white;
	margin: 0;
	padding: 0;
	
}




.main-filter-group {
	margin: 0;
	padding: 0;
}

.main-filter-group-label {

	padding: 5px 5px;
	margin: 0;
/* 	height: 25px; */
}

.main-filter-group-selector {
	/* border : dashed 1px; */

	background-color: #EAEAAE;
	padding: 5px 5px;
	margin: 0;
}
/* .main-filter-group-selector  input:checkbox { */
.main-filter-group-selector  input[type=radio] {
	height: 15px;
	width: 13px;

    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}


.main-filter-group-selector  label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

/* .main-filter-group-selector  input:text { */
/* 	width: 20px; */
/*     height: 10px; */
/* } */




/* .footer{ */
/*  background-color: #383838; */
/*  color: white; */
/* } */