@charset "utf-8";

body {
	font: 76%/1.4em Arial, Helvetica, Verdana, sans-serif;
	/*background: url(../images/bg_main.jpg) repeat-x center top #0064c2;*/
	color: #000;
}

#mainWrapper {
	width: 960px;
	margin: 0 auto;
}

/* TopNav Style */
/*#topNavContainer {
	height: 34px; 
	color: #FFFFFF;
}    

#topNavContainer a {
	color: #FFFFFF;
	text-decoration: none;
}    

#topNavContainer p {
	float: right;
	margin-right: 25px;
	margin-top: 4px;
}*/  

/* TopBanner Style */

#topBannerContainer:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

#topBannerContainer {
	display: inline-block;

}     

#logoContainer{
	width: 960px;
	height: 84px;
	background: url(../img/bg_header.png) no-repeat 0 0;

} 

#logoContainer .logo {
position: absolute;
width: 265px;
height: 56px;
margin: 20px 0 0 20px;
text-indent: -9999px;	
}

#logoContainer .sub-logo {
position: absolute;
width: 335px;
height: 20px;
margin: 85px 0 0 20px;
text-indent: -9999px;
}


/* Menu */

#menuContainer {
width: 960px;	
background: #a4b7c7;
border-bottom: 1px solid #497090;
padding : 0;
height: 32px;
}

#menu:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

/* Not sure what this style is used for??

#menu {
display: inline-block;
}

*/ 

#menu {
	display: block;
}

#menu li {
	display: inline;
}

#menu a {
	color: #293e50;
	float: left;
	text-decoration: none;
	padding: 5px 20px;
	font-size: 1.1em;

}

#menu a:hover {
	background: #497090;
	color: #ffffff;
}   
	
body#menu1 a#menu1nav,
body#menu2 a#menu2nav,
body#menu3 a#menu3nav,
body#menu4 a#menu4nav,
body#menu5 a#menu5nav,
body#menu6 a#menu6nav {
	background: #497090;
	color: #ffffff;
}

/* Splash Styles */

#splash:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

#splash {
	display: block;
	background: #d0d0d0 url(../images/splash-home_bg.jpg) repeat-x 0 top;
	border-bottom: #497090 2px solid;
	height: 200px;
	padding: 20px;
}

#splash h1 {
	font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
	color: #0e375d;
	line-height: 1em; 
	font-size: 1.7em;
	margin: 0 0 10px 0;
	font-weight: 400;
	float: left;
	height: 30px;
}

#splash p {
	color:#343434;
	width: 450px;
	line-height: 2em;
	float: left;
}

#splash a {
text-decoration: underline;
color: #497090;	
}

#splash a:hover {
text-decoration: none;
color: #47098b9;	
}

#splash img {
	float: right;
	margin: 0 0 0 20px;
	width: 450px;
}

/* Tables */
table tr.even td {
	background-color: #e5ebf6;
}

table.normal {
	/* width: 673px; */
	margin-bottom: 0;
	font: 1em 'Trebuchet MS', Tahoma, Arial, Helvetica, Verdana, sans-serif;
	color: #003399;
	font-weight: normal;

}
/* Content */

#mainContentContainer:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

#mainContentContainer {
	display: inline-block;
}

#mainContentContainer {
	background-color:#fff; 
	padding: 20px;
	display: block;
}

#mainContentContainer #leftContent {
	width: 470px;
	margin-right: 20px;
	float: left;
}

#mainContentContainer #leftContent a {
	text-decoration: underline;
	color: #012445;
}

#mainContentContainer #leftContent a:hover {
	text-decoration: underline;
}

#mainContentContainer #leftContent h1, 
#subContentContainer #rightContent h1 {
/* 	font-family: 'Century Gothic', Arial, Arial, Helvetica, sans-serif; */
/* 	color: #0e375d;  */
/* 	font-size: 2em; */
/* 	margin-bottom: .5em;  */
/* 	font-weight: normal; */
}
#subContentContainer #rightContent h1{
	/*border-bottom: 1px solid #f5f3f4;*/
/* 	padding-bottom: .25em; */
}
	
#mainContentContainer #leftContent h2, 
#subContentContainer #rightContent h2{
/* 	font-family: Arial, Helvetica, sans-serif;  */
/* 	color: #6c92b1;  */
/* 	font-size: 1.5em; */
/* 	font-weight: normal; */
/* 	font-style:italic; */
/* 	line-height: 1.2em;  */
/* 	margin: -5px 0 .5em 0; */
}

#mainContentContainer #leftContent h3, 
#subContentContainer #rightContent h3{
/* 	font-family:Georgia, 'Times New Roman', Times, serif;  */
/* 	color: #0e375d;  */
/* 	font-size: 1em; */
/* 	font-weight: normal;  */
/* 	margin-bottom: .5em; */
}

#mainContentContainer #leftContent p{
	color:#343434;
	line-height: 1.8em;
}

#boxContainer {
	height:auto;
	margin-bottom: 20px;
}

.singleBox {
	padding-left:20px;
	padding-top:10px;
	width:196px;
	height:136px;
	margin-right:12px;
	background-image:url(../images/home_box_bg.jpg);
	background-repeat:repeat-x;
	float:left;
	padding-right:20px;
	background-color:#2d72b5;
}

.singleBox h2{
	/* font-family:Georgia, 'Times New Roman', Times, serif; */
	/* font-size: 24px; */
	color:#012445;
	font-weight:normal;
	height:35px;
}

.endBox {
	padding-left:20px;
	padding-top:10px;
	width:196px;
	height:136px;
	background-image:url(../images/home_box_bg.jpg);
	background-repeat:repeat-x;
	float:left;
	padding-right:20px;
	background-color:#2d72b5;
}

.endBox h2{
	/* font-family:Georgia, 'Times New Roman', Times, serif; */
	color:#012445;
	font-weight:normal;
	height:35px;

}

/* Footer Style */

.footer{
	text-align:left;
	/* font-size:12px; */
	color:#000;
	height:65px;
	margin: 10 auto;
	width: 960px!important;
	border-top: 1px solid #3b6f95;
}

.footerContentsWrapper{
	width:960px; 
	margin-left:auto; 
	margin-right:auto;
	position:relative;
}

.footer p {
	float:left;
	position: absolute; 
	top:10px; 
	padding-left:15px;
}

.footer p.links {
	float:left;
	position: absolute; 
	top:30px; 
	padding-left:15px;
}

.footer p.dateCreated {
	float:left;
	position: absolute; 
	top: 90px; 
	padding-left:15px;
}

.footer a{
	text-decoration:underline;
	color:#3b6f95;
}

.footer a:link, .footer a:hover {
color: #6fa4ca;	
}

.floatLeft{
	float:left;
}

/* Sub-Content Style */

#subContentContainer:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

#subContentContainer {
	display: inline-block;
}

#subContentContainer {
	background:#FFF url(../images/splash_bg.jpg) repeat-x 0 0;
	padding: 20px;
	margin-bottom: 20px;
	display: block;
}

#subContentContainer #leftContent{
	float:left;
	width:190px;
	margin: 0 20px 0 0;
	height:auto;
	/*background-color:#FFFFFF;*/
}

#subContentContainer #rightContent{
	float: left;
	width: 692px;
	height: auto;
/* 	font-family: Arial, Helvetica, Verdana, sans-serif; */
	/*background-color:#FFFFFF;*/
}


#subContentContainer #rightContent a{
/* 	color:#012445; */
}

#subContentContainer #rightContent a:hover{
/* 	color:#0065c6 ;*/
}

#subContentContainer #rightContent p{
	/* font-size:12px; */
/* 	line-height: 1.6em;  */
/* 	margin-bottom: 1em; */
}

#subContentContainer #rightContent p.contacts{
	/*padding-left: 18px;*/
	/*border-left: 4px solid #acacac;*/
}

#subContentContainer #rightContent p.contacts strong{
/* 	color: #0e375d; */
/* 	font-size: 1.2em; */
}

#subContentContainer ul {
	margin-bottom: 1em;
	padding-left: 20px;
	background-size: auto;
}
	
#subContentContainer ul li {
	background: url(../images/bg_bullet.gif) no-repeat 0 4px;
	margin-bottom: 1em;
	padding-left: 18px;
	display: block;
	line-height: 1.6em;
/* 	color: #6666FF; */
}

#subContentContainer img {margin: 8px 0;}

/* subContentContainer table styles*/
#subContentContainer table {
	width: auto;
	margin: 15px 0;
	word-wrap: break-word;
	outline-width: thick;
}

#subContentContainer th {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #a5a5a5;
/* 	background: #f5f3f4; */
	padding: 4px 5px;
	text-align: center;
	float: left;
}

#subContentContainer td {
	border-bottom: 1px solid #f5f3f4;
	padding: 4px 5px;
}

#subContentContainer td.first-child {
	width: 100px;
}
#subContentContainer td+td {
	border-left: 1px solid #f5f3f4;
}
	
/*breadcrumb styles*/
#breadcrumb{
	color:#466985;
	/* font-size:12px; */
	margin-bottom:1em;
	font-weight: bold;
}

#breadcrumb a{
	color:#a5a5a5;
	/* font-size:12px; */
	text-decoration:none;
}

#breadcrumb a.current{
	color:#0063bf;
	text-decoration:underline
}

#breadcrumb a:hover.current{
	text-decoration:none
}

/*THUMBAREA STYLES*/
.thumbAreaRight, .thumbAreaLeft {margin: 0 0 4px 15px;}

.thumbAreaRight {float: right;}
.thumbAreaLeft {float: left;}

.thumbAreaRight, .thumbAreaLeft {
	background-color:#f5f3f4;
	padding: 0 8px;
	text-align: center;
	color: #454545;
}

.thumbAreaRight img {border: 1px solid #a5a5a5;}

.thumbAreaRight p {margin:0 0 6px 0 !important;}

/* LeftNav styles */

#leftContent ul {
	background-color: #497090;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	padding: 5px 0;
	margin: 0 0 20px 0;
}

#leftContent h1 {
	padding: 13px 0 10px 20px;
	color: #fff;
	font-weight: bold;
	border-bottom: 1px solid #ebebeb;
	text-shadow: 0 1px 0 #454545;
}

#leftContent ul li {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ebebeb;
	line-height: 1.4em;
	padding: 3px 10px 3px 20px;
	margin: 0;
	background: #dddcdc;
	display: block;
	height: auto;
}

#leftContent ul li a {
	color: #497090;
	text-decoration: none;	
}

#leftContent ul a:hover {
	/* [disabled]color: #3333FF; */
	text-decoration: underline;
}

#leftNav h1 {
	background: #497090;
	font-size: 1.5em;
	font-weight: 400;
	font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
	color: #fff;
	/*background: url(../images/bg_leftNav.jpg) no-repeat right;*/
}

#leftDownloads h1 { 
	background: #497090;
	font-size: 1.5em;
	font-weight: 400;
	font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
	color: #fff;
	/*background: url(../images/bg_leftDownloads.jpg) no-repeat right;*/
}

#leftLinks h1 { 
	background: #497090;
	font-size: 1.5em;
	font-weight: 400;
	font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
	color: #fff;
	/*background: url(../images/bg_leftLinks.jpg) no-repeat right;*/
}

#leftContent ul li.leftNavTop {
background: #799fbe;
border: none;	
}

.leftNavTop a.current {
color: #fff!important;	
}

.leftNavBottom {
	border-bottom: none !important;
}

.readMore{float: right;}

/* Homepage tab/module styles */

#homeTabs:after { /* Clearing */
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}

#homeTabs {
	display:inline-block;
}

#homeTabs {
	display:block;
}

#homeTabs li{
	display:inline;
}

.homeTab1 {
	width:450px;
	float:left;
	min-height:150px;
	height:auto !important; /* Min-Height in IE */
	height:150px;
	margin-right:20px;
	text-decoration:none;
	margin-top:20px;
	padding: 5px 10px 26px 10px;
	background: #cbcccc url(../images/home_box_bg.jpg) repeat-x 0 top;
}

.homeTab {
	width:450px;
	float:left;
	min-height:140px;
	height:auto !important; /* Min-Height in IE */
	height:140px;
	margin-right:20px;
	text-decoration:none;
	margin-top:20px;
	padding: 5px 10px 10px 10px;
	background: #cbcccc url(../images/home_box_bg.jpg) repeat-x 0 top;
}

.homeTab1 h2, .homeTab h2 {
	font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
	font-size:1.5em;
	color:#fff;
	font-weight:normal;
	margin-bottom: .75em;
}

.homeTab1 h3, .homeTab h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.2em;
	width: 380px;
	color:#012445;
	font-weight: normal;
	font-style:italic;
	margin-bottom: .15em;
}

.homeTab1 h4, .homeTab h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:1em;
	color:#012445;
	font-weight:normal;
	margin-bottom: .35em;
}

.homeTab1 p, .homeTab p {
	color:#012445;
	line-height: 1.6em;
}

.homeTab1 img, .homeTab img {
	float:right;
	border:1px solid #0E375D;
	margin:0 10px 0 15px;
	
}

.external {
	padding-right:14px;
	background-attachment:scroll;
	background-image:url(../images/bullet_purple.gif);
	background-repeat:no-repeat;
	background-position:right center;
}



.toolBox p {
	color: #000066;
	line-height: 1.6em;
	text-align: left;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: medium;
}



.toolBox2 p {
	color: #0066FF;
	line-height: 1.6em;
	text-align: left;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: medium;
}
.toolBox2 a {
	color: #FFCC00;
	line-height: 1.6em;
	text-align: left;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: medium;
}
/*
a:active, a:focus, input {
	outline: white dotted thin;
}
*/
#myTableBorder {
	border: 1px solid #000;

}
#myTableBorder td{
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}
