.link {
  fill: none;
  stroke: #555;
  stroke-width: 1.5px;
}

.node {
  stroke: steelblue;
  fill: lightsteelblue;
}

.node text {
  font: 15px sans-serif;
  stroke: none;
  fill: black;
  text-anchor: middle;
}

.nodeSelected {
  stroke: black;
  fill: lightsteelblue;
  cursor: pointer;
}

.nodeSelected text {
  font: 26px sans-serif;
  stroke: none;
  fill: black;
  text-anchor: middle;
}

.nodeOfInterest {
  stroke: #000;
  fill: #E55451;
}

.nodeOfInterest text {
  font: 15px sans-serif;
  stroke: none;
  fill: black;
  text-anchor: middle;
}

.nodeOfInterestSelected {
  stroke: black;
  fill: #E55451;
  cursor: pointer;
}

.nodeOfInterestSelected text {
  font: 26px sans-serif;
  stroke: none;
  fill: black;
  text-anchor: middle;
}

.noLineageInformation {
	font: 15px sans-serif;
}

.axis text {
  font: 15px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

table,th,td {
	border:1px solid black;
	border-collapse:collapse;
}

th,td {
	padding:5px;
	text-align: center;
}
